extends layout

block content
  h1 Todo
  // ToDo入力フォームを作成する
  .form
    form#form
      p
        label(for='text') 内容
        input#text(type='text',name='text')
      p
        label(for='limit') 期限
        input#limit(type='date',name='limit')
      p
        input(type='submit',value='登録する')
  // ToDo一覧を表示する
  .list

block scripts
  script(src='/javascripts/todo.js')
