extends layout

block content
  div(class="container")
    h2 試合リスト
    div(ng-app="spicyApp1" ng-controller="SpicyCtrl")
      form(id="spicyForm" class="form-inline")
        div(class="form-group")
          label(for="exampleInputName2") The food is {{spice}} spicy!
          input(type="text" class="form-control" id="exampleInputName2" ng-model="spice")
        div(class="form-group")
          label The food is {{spi}} spicy!
          input(type="text" class="form-control" id="exampleInputName3" ng-model="spi")
        button(type="submit" class="btn btn-primary") Send invitations
      
      div(class="table-responsive")
        table(st-table="rowCollection" class="table table-striped table-bordered table-hover")
          thead
            tr
              th First name
              th last name
              th birth date
              th balance
              th email
          tbody
            tr(ng-repeat="row in rowCollection| filter:spi" ng-click="showProgram(row)")
              td {{row.title}}
              td {{row.day}}
block scripts
  script(src='/javascripts/index.js')
  script(src='/controllers/indexController.js')
