doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
    script(src='/angular-smart-table/index.js')
    script(src='/controllers/indexController.js')
    
  body
    block content
    block scripts
