extends layout

block content
  div(ng-app="programApp" ng-controller="programController" class="container")
    h2 #{title} 
    if isAdmin
      div(class="row")          
        div(class="col-lg-5")
          span csvファイルからプログラムを追加
            input(type="file" id="csvFile")
        div(class="col-lg-5")
          span tsvファイルからエントリーを追加
            input(type="file" id="tsvFile")
        div(class="col-lg-2")
          a(id="download" href="#" download="test.csv" style="display: none;") ファイルのダウンロード
          input(type="button" id="exportStartList" value="csvでスタートリストの書き出し")
      div(class="row")          
        div(class="col-lg-12")
          form(id="programForm" ng-submit="addProgram()")
            div(class="form-group")
              label(for="programTitle") プログラム名
              input(type="text" class="form-control" id="programTitle" ng-model="programTitle" required)
            div(class="form-group")
              label(for="programDescription") プログラム説明
              input(type="text" class="form-control" id="programDescription" ng-model="programDescription")
            div(class="form-group")
              label(for="programDistance") 距離
              input(type="number" class="form-control" id="programDistance" ng-model="programDistance" required)
            div(class="form-group")
              label(for="programRelay") リレー
              input(type="checkbox" class="form-control" id="programRelay" ng-model="programRelay")
            button(type="submit" class="btn btn-primary") プログラムを追加する
    
    div(class="row")
      div(class="col-lg-12")
        input(type="text" class="form-control" id="filterInput" ng-model="filterInput")
        div(class="table-responsive")
          table(st-table="rowCollection" class="table table-striped table-bordered table-hover")
            thead
              tr
                th プログラム番号
                th プログラム名
                th プログラム説明
                th 距離
                th リレー
            tbody
              tr(ng-repeat="row in rowCollection| filter:filterInput" ng-click="showEntry(row)")
                td {{row.programNum}}
                td {{row.title}}
                td {{row.description}}
                td {{row.distance}}
                td {{row.isRelay}}
block scripts
  script.
    var competitionId = "#{id}";
    var isAdmin = Boolean("#{isAdmin}");
  script(src='/controllers/programController.js')
