extends layout

block content
  div(ng-app="userApp" ng-controller="userCtrl" class="container")
    h2 ユーザー
    div(class="row")
      div(class="col-lg-12")
        form(id="userForm" ng-submit="addUser()")
          div(class="form-group")
            label(for="userName") ユーザ名
            input(type="text" class="form-control" id="userName" ng-model="userName" required)
          div(class="form-group")
            label(for="department") 性別
            select(class="form-control" id="sex" ng-model="sex" ng-options="s for s in sexList" required)
              option(value="") -選択してください-
          div(class="form-group")
            label(for="department") 学科
            select(class="form-control" id="department" ng-model="department" ng-options="d for d in departments" required)
              option(value="") -選択してください-
          div(class="form-group")
            label(for="graduateYear") 卒業（見込み）年度
            div(class="input-group")
              input(type="text" class="form-control" id="graduateYear" ng-model="graduateYear" datepicker-mode="'year'" datepicker-options="{{dateOptions}}" datepicker-popup="yyyy" is-open="datePickerOpen" required ng-click="toggleDatePicker($event)")
              span(class="input-group-addon glyphicon glyphicon-calendar" ng-click="toggleDatePicker($event)")
          button(type="submit" class="btn btn-primary") ユーザを追加する
    
    div(class="row")
      div(class="col-lg-12")
        input(type="text" class="form-control" id="filterInput" ng-model="filter")
        div(class="table-responsive")
          table(st-table="rowCollection" class="table table-striped table-bordered table-hover")
            thead
              tr
                th ユーザID
                th ユーザ名
                th 性別
                th 学科
                th 卒業（見込み）年度
            tbody
              tr(ng-repeat="row in rowCollection| filter:filter")
                td {{row.userId}}
                td {{row.userName}}
                td {{row.sex}}
                td {{row.department}}
                td {{row.graduateYear}}
block scripts
  script(src='/controllers/userController.js')
